MCA Dev/src/flows/Create_Lead-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>ConvertLead</name>
        <label>ConvertLead</label>
        <locationX>679</locationX>
        <locationY>438</locationY>
        <apexClass>ConvertLead</apexClass>
        <connector>
            <targetReference>Thank_You1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputParameters>
            <name>LeadID</name>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>NewOpportunityID1</assignToReference>
            <name>OpportunityID</name>
        </outputParameters>
    </apexPluginCalls>
    <assignments>
        <name>SetNextStepValue</name>
        <label>SetNextStepValue</label>
        <locationX>798</locationX>
        <locationY>226</locationY>
        <assignmentItems>
            <assignToReference>setNextStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Next_Step</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ConvertLead</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Agriculture</name>
        <choiceText>Agriculture</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agriculture</stringValue>
        </value>
    </choices>
    <choices>
        <name>Apparel</name>
        <choiceText>Apparel</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Apparel</stringValue>
        </value>
    </choices>
    <choices>
        <name>Awaiting_Call_Back</name>
        <choiceText>Awaiting Call Back</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Awaiting Call Back</stringValue>
        </value>
    </choices>
    <choices>
        <name>Banking</name>
        <choiceText>Banking</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Banking</stringValue>
        </value>
    </choices>
    <choices>
        <name>Biotechnology</name>
        <choiceText>Biotechnology</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Biotechnology</stringValue>
        </value>
    </choices>
    <choices>
        <name>Chemicals</name>
        <choiceText>Chemicals</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Chemicals</stringValue>
        </value>
    </choices>
    <choices>
        <name>Closed_Archived</name>
        <choiceText>Closed - Archived</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed - Archived</stringValue>
        </value>
    </choices>
    <choices>
        <name>Closed_Converted</name>
        <choiceText>Closed - Converted</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed - Converted</stringValue>
        </value>
    </choices>
    <choices>
        <name>Closed_Lost</name>
        <choiceText>Closed - Lost</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed - Lost</stringValue>
        </value>
    </choices>
    <choices>
        <name>Closed_Won</name>
        <choiceText>Closed - Won</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed - Won</stringValue>
        </value>
    </choices>
    <choices>
        <name>Communications</name>
        <choiceText>Communications</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Communications</stringValue>
        </value>
    </choices>
    <choices>
        <name>Construction</name>
        <choiceText>Construction</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Construction</stringValue>
        </value>
    </choices>
    <choices>
        <name>Consulting</name>
        <choiceText>Consulting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Consulting</stringValue>
        </value>
    </choices>
    <choices>
        <name>Education</name>
        <choiceText>Education</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Education</stringValue>
        </value>
    </choices>
    <choices>
        <name>Electronics</name>
        <choiceText>Electronics</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Electronics</stringValue>
        </value>
    </choices>
    <choices>
        <name>Energy</name>
        <choiceText>Energy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Energy</stringValue>
        </value>
    </choices>
    <choices>
        <name>Engineering</name>
        <choiceText>Engineering</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Engineering</stringValue>
        </value>
    </choices>
    <choices>
        <name>Entertainment</name>
        <choiceText>Entertainment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Entertainment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Environmental</name>
        <choiceText>Environmental</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Environmental</stringValue>
        </value>
    </choices>
    <choices>
        <name>Expansion</name>
        <choiceText>Expansion</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Expansion</stringValue>
        </value>
    </choices>
    <choices>
        <name>Finance</name>
        <choiceText>Finance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Finance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Food_Beverage</name>
        <choiceText>Food &amp; Beverage</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Food &amp; Beverage</stringValue>
        </value>
    </choices>
    <choices>
        <name>Government</name>
        <choiceText>Government</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Government</stringValue>
        </value>
    </choices>
    <choices>
        <name>Healthcare</name>
        <choiceText>Healthcare</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Healthcare</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hospitality</name>
        <choiceText>Hospitality</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hospitality</stringValue>
        </value>
    </choices>
    <choices>
        <name>Insurance</name>
        <choiceText>Insurance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Insurance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Inventory</name>
        <choiceText>Inventory</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inventory</stringValue>
        </value>
    </choices>
    <choices>
        <name>Left_Voicemail</name>
        <choiceText>Left Voicemail</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Left Voicemail</stringValue>
        </value>
    </choices>
    <choices>
        <name>Machinery</name>
        <choiceText>Machinery</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Machinery</stringValue>
        </value>
    </choices>
    <choices>
        <name>Manufacturing</name>
        <choiceText>Manufacturing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Manufacturing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Marketing_Advertising</name>
        <choiceText>Marketing/Advertising</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Marketing/Advertising</stringValue>
        </value>
    </choices>
    <choices>
        <name>Media</name>
        <choiceText>Media</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Media</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Equipment</name>
        <choiceText>New Equipment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Equipment</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Location</name>
        <choiceText>New Location</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Location</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_interest</name>
        <choiceText>No interest</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No interest</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Need_for_Money</name>
        <choiceText>No Need for Money</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Need for Money</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_response</name>
        <choiceText>No response</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No response</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>None_c</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoPicklistVal</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Not_For_Profit</name>
        <choiceText>Not For Profit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not For Profit</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoToConvert</name>
        <choiceText>NO</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Open_Attempting_Contact</name>
        <choiceText>Open - Attempting Contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Open - Attempting Contact</stringValue>
        </value>
    </choices>
    <choices>
        <name>Open_Not_Contacted</name>
        <choiceText>Open - Not Contacted</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Open - Not Contacted</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Owner_not_Available</name>
        <choiceText>Owner not Available</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Owner not Available</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pay_Bills</name>
        <choiceText>Pay Bills</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pay Bills</stringValue>
        </value>
    </choices>
    <choices>
        <name>Recreation</name>
        <choiceText>Recreation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Recreation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Retail</name>
        <choiceText>Retail</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Retail</stringValue>
        </value>
    </choices>
    <choices>
        <name>Send_App</name>
        <choiceText>Send App</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Send App</stringValue>
        </value>
    </choices>
    <choices>
        <name>Send_Email_1a_in_24h_follow_up_call_48h_later</name>
        <choiceText>Send Email 1a in 24h &amp; follow-up call 48h later</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Send Email 1a in 24h &amp; follow-up call 48h later</stringValue>
        </value>
    </choices>
    <choices>
        <name>Send_Email_1b_in_24h_set_reminder_to_close_Lead_72h_later</name>
        <choiceText>Send Email 1b in 24h &amp; set reminder to close Lead 72h later</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Send Email 1b in 24h &amp; set reminder to close Lead 72h later</stringValue>
        </value>
    </choices>
    <choices>
        <name>Send_Email_2a_in_48h</name>
        <choiceText>Send Email 2a in 48h</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Send Email 2a in 48h</stringValue>
        </value>
    </choices>
    <choices>
        <name>Send_Email_2b_in_2_weeks_set_reminder_to_close_Lead_72h_later</name>
        <choiceText>Send Email 2b in 2 weeks &amp; set reminder to close Lead 72h later</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Send Email 2b in 2 weeks &amp; set reminder to close Lead 72h later</stringValue>
        </value>
    </choices>
    <choices>
        <name>Send_Email_3a_in_48h_follow_up_call_72h_later</name>
        <choiceText>Send Email 3a in 48h &amp; follow-up call 72h later</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Send Email 3a in 48h &amp; follow-up call 72h later</stringValue>
        </value>
    </choices>
    <choices>
        <name>Send_Email_3b_in_48h_set_reminder_to_close_Lead_72h_later</name>
        <choiceText>Send Email 3b in 48h &amp; set reminder to close Lead 72h later</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Send Email 3b in 48h &amp; set reminder to close Lead 72h later</stringValue>
        </value>
    </choices>
    <choices>
        <name>Shipping</name>
        <choiceText>Shipping</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shipping</stringValue>
        </value>
    </choices>
    <choices>
        <name>Start_Up_Business</name>
        <choiceText>Start Up Business</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Start Up Business</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sub_Status_1</name>
        <choiceText>Sub Status 1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sub Status 1</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sub_Status_2</name>
        <choiceText>Sub Status 2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sub Status 2</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sub_Status_3</name>
        <choiceText>Sub Status 3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sub Status 3</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sub_Status_4</name>
        <choiceText>Sub Status 4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sub Status 4</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sub_Status_5</name>
        <choiceText>Sub Status 5</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sub Status 5</stringValue>
        </value>
    </choices>
    <choices>
        <name>Technology</name>
        <choiceText>Technology</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Technology</stringValue>
        </value>
    </choices>
    <choices>
        <name>Telecommunications</name>
        <choiceText>Telecommunications</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Telecommunications</stringValue>
        </value>
    </choices>
    <choices>
        <name>test_new</name>
        <choiceText>test new</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>test new</stringValue>
        </value>
    </choices>
    <choices>
        <name>Transportation</name>
        <choiceText>Transportation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transportation</stringValue>
        </value>
    </choices>
    <choices>
        <name>UnQualified</name>
        <choiceText>UnQualified</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>UnQualified</stringValue>
        </value>
    </choices>
    <choices>
        <name>Utilities</name>
        <choiceText>Utilities</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Utilities</stringValue>
        </value>
    </choices>
    <choices>
        <name>Wants_Traditional_Loan</name>
        <choiceText>Wants Traditional Loan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Wants Traditional Loan</stringValue>
        </value>
    </choices>
    <choices>
        <name>Working_Capital</name>
        <choiceText>Working Capital</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Working Capital</stringValue>
        </value>
    </choices>
    <choices>
        <name>Working_Contacted</name>
        <choiceText>Working - Contacted</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Working - Contacted</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesPicklistVal</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>YesToConvert</name>
        <choiceText>YES</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>ConvertDecision</name>
        <label>ConvertDecision</label>
        <locationX>563</locationX>
        <locationY>281</locationY>
        <defaultConnector>
            <targetReference>Thank_you</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoToConvertDecision</defaultConnectorLabel>
        <rules>
            <name>YesToConvertDesicion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConvertLeadDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetNextStepValue</targetReference>
            </connector>
            <label>YesToConvert</label>
        </rules>
    </decisions>
    <description>Creates new Lead record using flow</description>
    <dynamicChoiceSets>
        <name>DynamicChoice</name>
        <dataType>String</dataType>
        <displayField>Status</displayField>
        <filters>
            <field>LastName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>objLead</assignToReference>
            <field>Status</field>
        </outputAssignments>
        <valueField>Status</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IndustryPicklist</name>
        <dataType>String</dataType>
        <displayField>Industry</displayField>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>flowIndustry</assignToReference>
            <field>Industry</field>
        </outputAssignments>
        <valueField>Industry</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PurposeOfFundingPicklist</name>
        <dataType>String</dataType>
        <displayField>Purpose_of_Funding__c</displayField>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>flowPurposeOfFunding</assignToReference>
            <field>Purpose_of_Funding__c</field>
        </outputAssignments>
        <valueField>Purpose_of_Funding__c</valueField>
    </dynamicChoiceSets>
    <label>Create Lead</label>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>562</locationX>
        <locationY>169</locationY>
        <connector>
            <targetReference>ConvertDecision</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Authority__c</field>
            <value>
                <elementReference>Authority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Average_Monthly_CC_Sale__c</field>
            <value>
                <elementReference>Average_Monthly_CC_Sale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Best_Time_to_Call__c</field>
            <value>
                <elementReference>Best_Time_To_Call</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Budget__c</field>
            <value>
                <elementReference>Budget</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credit_Score__c</field>
            <value>
                <elementReference>Credit_Score</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desired_Amount__c</field>
            <value>
                <elementReference>Desired_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry</field>
            <value>
                <elementReference>Industry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Mobile</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Gross_Sales__c</field>
            <value>
                <elementReference>Monthly_Gross_Sales</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Need__c</field>
            <value>
                <elementReference>Need</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Step__c</field>
            <value>
                <elementReference>Next_Step</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone_No</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purpose_of_Funding__c</field>
            <value>
                <elementReference>Purpose_of_Funding</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Lead_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Status__c</field>
            <value>
                <elementReference>Sub_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timing__c</field>
            <value>
                <elementReference>Timing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Years_in_Business__c</field>
            <value>
                <elementReference>Years_in_Business</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>872</locationX>
        <locationY>588</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ShowError</name>
            <fieldText>Looks like we had an issue working with the data.
Use this information when contacting your admin: {!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>General</name>
        <label>General</label>
        <locationX>64</locationX>
        <locationY>58</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Qualification</targetReference>
        </connector>
        <fields>
            <name>Text1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Step 1: Lead&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt; &lt;/FONT&gt;&lt;B&gt;General Information
&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>openingParagraph</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Hi &lt;B&gt;{!flowFName}&lt;/B&gt;,&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;This is &lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!flowUserName}&lt;/B&gt;&lt;/FONT&gt; From &lt;B&gt;{!flowUserCompany}. &lt;/B&gt;In reviewing your business, it seems that you&amp;apos;d be eligible for a program that provides immediate funding for any business purpose. What would you do with extra working capital? &lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>flowFName</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>flowLName</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Company</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>flowCompany</elementReference>
            </defaultValue>
            <fieldText>Company</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Phone_No</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>flowPhone</elementReference>
            </defaultValue>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Mobile</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>flowMobile</elementReference>
            </defaultValue>
            <fieldText>Mobile</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Best_Time_To_Call</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>flowBestTimeToCall</elementReference>
            </defaultValue>
            <fieldText>Best Time To Call</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>flowEmail</elementReference>
            </defaultValue>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>The value you entered doesn&apos;t meet the validation criteria for this input field.</errorMessage>
                <formulaExpression>REGEX({!Email},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Description</name>
            <defaultValue>
                <elementReference>flowDesc</elementReference>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Qualification</name>
        <label>Qualification</label>
        <locationX>310</locationX>
        <locationY>59</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Status</targetReference>
        </connector>
        <fields>
            <name>Text2</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Step 2: Lead&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt; &lt;/FONT&gt;&lt;B&gt;Qualification&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Industry</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>Agriculture</choiceReferences>
            <choiceReferences>Apparel</choiceReferences>
            <choiceReferences>Banking</choiceReferences>
            <choiceReferences>Biotechnology</choiceReferences>
            <choiceReferences>Chemicals</choiceReferences>
            <choiceReferences>Communications</choiceReferences>
            <choiceReferences>Construction</choiceReferences>
            <choiceReferences>Consulting</choiceReferences>
            <choiceReferences>Education</choiceReferences>
            <choiceReferences>Electronics</choiceReferences>
            <choiceReferences>Energy</choiceReferences>
            <choiceReferences>Engineering</choiceReferences>
            <choiceReferences>Entertainment</choiceReferences>
            <choiceReferences>Environmental</choiceReferences>
            <choiceReferences>Finance</choiceReferences>
            <choiceReferences>Food_Beverage</choiceReferences>
            <choiceReferences>Government</choiceReferences>
            <choiceReferences>Healthcare</choiceReferences>
            <choiceReferences>Hospitality</choiceReferences>
            <choiceReferences>Insurance</choiceReferences>
            <choiceReferences>Machinery</choiceReferences>
            <choiceReferences>Manufacturing</choiceReferences>
            <choiceReferences>Media</choiceReferences>
            <choiceReferences>Not_For_Profit</choiceReferences>
            <choiceReferences>Recreation</choiceReferences>
            <choiceReferences>Retail</choiceReferences>
            <choiceReferences>Shipping</choiceReferences>
            <choiceReferences>Technology</choiceReferences>
            <choiceReferences>Telecommunications</choiceReferences>
            <choiceReferences>Transportation</choiceReferences>
            <choiceReferences>Utilities</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Industry</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Years_in_Business</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>flowYrInBui</elementReference>
            </defaultValue>
            <fieldText>Years in Business</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Monthly_Gross_Sales</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>flowMon</elementReference>
            </defaultValue>
            <fieldText>Monthly Gross Sales</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Average_Monthly_CC_Sale</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>flowAvg</elementReference>
            </defaultValue>
            <fieldText>Monthly CC Sale</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Credit_Score</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>flowCrditScr</elementReference>
            </defaultValue>
            <fieldText>Credit Score</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Desired_Amount</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>flowDAmt</elementReference>
            </defaultValue>
            <fieldText>Desired Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Purpose_of_Funding</name>
            <choiceReferences>Working_Capital</choiceReferences>
            <choiceReferences>Inventory</choiceReferences>
            <choiceReferences>Pay_Bills</choiceReferences>
            <choiceReferences>Marketing_Advertising</choiceReferences>
            <choiceReferences>New_Equipment</choiceReferences>
            <choiceReferences>New_Location</choiceReferences>
            <choiceReferences>Expansion</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Purpose of Funding</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Budget</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>flowBudget</elementReference>
            </defaultValue>
            <fieldText>Budget</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Authority</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>flowAuthority</elementReference>
            </defaultValue>
            <fieldText>Authority</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Need</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>flowNeed</elementReference>
            </defaultValue>
            <fieldText>Need</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Timing</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>flowTiming</elementReference>
            </defaultValue>
            <fieldText>Timeline</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Notes</name>
            <defaultValue>
                <elementReference>flowNotes</elementReference>
            </defaultValue>
            <fieldText>Notes:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Status</name>
        <label>Status</label>
        <locationX>563</locationX>
        <locationY>60</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
        <fields>
            <name>text4</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Step 3: Lead&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt; &lt;/FONT&gt;&lt;B&gt;Disposition&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Lead_Status</name>
            <choiceReferences>Open_Not_Contacted</choiceReferences>
            <choiceReferences>Open_Attempting_Contact</choiceReferences>
            <choiceReferences>Working_Contacted</choiceReferences>
            <choiceReferences>Closed_Converted</choiceReferences>
            <choiceReferences>Closed_Lost</choiceReferences>
            <choiceReferences>Closed_Archived</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Lead Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Sub_Status</name>
            <choiceReferences>Awaiting_Call_Back</choiceReferences>
            <choiceReferences>Left_Voicemail</choiceReferences>
            <choiceReferences>No_interest</choiceReferences>
            <choiceReferences>No_Need_for_Money</choiceReferences>
            <choiceReferences>No_response</choiceReferences>
            <choiceReferences>Owner_not_Available</choiceReferences>
            <choiceReferences>Start_Up_Business</choiceReferences>
            <choiceReferences>UnQualified</choiceReferences>
            <choiceReferences>Wants_Traditional_Loan</choiceReferences>
            <choiceReferences>None_c</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None_c</defaultSelectedChoiceReference>
            <fieldText>Sub Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Next_Step</name>
            <choiceReferences>Send_Email_1a_in_24h_follow_up_call_48h_later</choiceReferences>
            <choiceReferences>Send_Email_1b_in_24h_set_reminder_to_close_Lead_72h_later</choiceReferences>
            <choiceReferences>Send_Email_2a_in_48h</choiceReferences>
            <choiceReferences>Send_Email_2b_in_2_weeks_set_reminder_to_close_Lead_72h_later</choiceReferences>
            <choiceReferences>Send_Email_3a_in_48h_follow_up_call_72h_later</choiceReferences>
            <choiceReferences>Send_Email_3b_in_48h_set_reminder_to_close_Lead_72h_later</choiceReferences>
            <choiceReferences>Send_App</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Next Step</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ConvertLeadDecision</name>
            <choiceReferences>YesToConvert</choiceReferences>
            <choiceReferences>NoToConvert</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>NoToConvert</defaultSelectedChoiceReference>
            <fieldText>Do you want to convert Current Lead</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Thank_you</name>
        <label>Thank you</label>
        <locationX>405</locationX>
        <locationY>439</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CreatedNewRecord</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Thank You.&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You have updated Lead record. Click Finish, to go on detail page of record.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Thank_You1</name>
        <label>Thank You</label>
        <locationX>582</locationX>
        <locationY>581</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ThankYouAfterConversion</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Thank You.&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You have updated and converted Lead record. Click Finish, to see new Opportunity record.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>General</startElementReference>
    <variables>
        <name>flowAuthority</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flowAvg</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>flowBestTimeToCall</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flowBudget</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>holds Company Name</description>
        <name>flowCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flowCrditScr</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>flowDAmt</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>flowDesc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flowEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Holds FirstName of Lead</description>
        <name>flowFName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flowIndustry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>holds LastName of Lead</description>
        <name>flowLName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flowMobile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flowMon</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>flowNeed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flowNextStep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flowNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flowPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flowPurposeOfFunding</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flowStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flowSubStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flowTiming</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flowUserCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flowUserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flowYrInBui</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>hold Lead record</description>
        <name>myCollection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewOpportunityID1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Create new record of Lead</description>
        <name>objLead</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The variable is use to store  Next step value</description>
        <name>setNextStep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
