MCA App/Release/MCA Demo org/src/flows/Create_Test_Lead-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>308</locationX>
        <locationY>344</locationY>
        <defaultConnector>
            <targetReference>Tset_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IF No</defaultConnectorLabel>
        <rules>
            <name>IF_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Update_lead</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Test_Screen1</targetReference>
            </connector>
            <label>IF yes</label>
        </rules>
    </decisions>
    <label>Create Test Lead</label>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>180</locationX>
        <locationY>440</locationY>
        <assignRecordIdToReference>TestLead</assignRecordIdToReference>
        <connector>
            <targetReference>Screen3</targetReference>
        </connector>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Years_in_Business__c</field>
            <value>
                <elementReference>Years_In_Business</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordLookups>
        <name>Update_lead</name>
        <label>Update lead</label>
        <locationX>305</locationX>
        <locationY>252</locationY>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>TestLead</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Record_Update</name>
        <label>Record Update</label>
        <locationX>359</locationX>
        <locationY>450</locationY>
        <connector>
            <targetReference>Screen3</targetReference>
        </connector>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <screens>
        <name>screen1</name>
        <label>screen1</label>
        <locationX>185</locationX>
        <locationY>142</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Screen2</targetReference>
        </connector>
        <fields>
            <name>General</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;General&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Company</name>
            <dataType>String</dataType>
            <fieldText>Company</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Phone</name>
            <dataType>Number</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Screen2</name>
        <label>Screen2</label>
        <locationX>460</locationX>
        <locationY>163</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_lead</targetReference>
        </connector>
        <fields>
            <name>Years_In_Business</name>
            <dataType>Number</dataType>
            <fieldText>Years In Business</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Monthly_Gross_Sales</name>
            <dataType>Currency</dataType>
            <fieldText>Monthly Gross Sales</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Average_Monthly_CC_Sale</name>
            <dataType>Currency</dataType>
            <fieldText>Average Monthly CC Sale</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Credit_Score</name>
            <dataType>Number</dataType>
            <fieldText>Credit Score</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Desired_Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Desired Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
    </screens>
    <screens>
        <name>Screen3</name>
        <label>Screen3</label>
        <locationX>292</locationX>
        <locationY>579</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>ThankYou</name>
            <fieldText>Thank You!!! Created New Lead</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Test_Screen1</name>
        <label>Test Screen1</label>
        <locationX>533</locationX>
        <locationY>351</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Record_Update</targetReference>
        </connector>
        <fields>
            <name>TestText1</name>
            <fieldText>Bye...</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Tset_screen</name>
        <label>Tset screen</label>
        <locationX>106</locationX>
        <locationY>343</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Create_Lead</targetReference>
        </connector>
        <fields>
            <name>HiScreen</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;I&gt;Hi... Screen&lt;/I&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Testtext</name>
            <fieldText>HI.....</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>screen1</startElementReference>
    <variables>
        <name>TestLead</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
