MCA App/Release/MCA Demo org/src/flows/Create_Opportunity-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Activated</name>
        <choiceText>Activated</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Activated</stringValue>
        </value>
    </choices>
    <choices>
        <name>Contract_Signed_Pending_Funding</name>
        <choiceText>Contract Signed/Pending Funding</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contract Signed/Pending Funding</stringValue>
        </value>
    </choices>
    <choices>
        <name>Daily</name>
        <choiceText>Daily</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Daily</stringValue>
        </value>
    </choices>
    <choices>
        <name>Draft</name>
        <choiceText>Draft</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Draft</stringValue>
        </value>
    </choices>
    <choices>
        <name>In_Approval_Process</name>
        <choiceText>In Approval Process</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Approval Process</stringValue>
        </value>
    </choices>
    <choices>
        <name>Monthly</name>
        <choiceText>Monthly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Monthly</stringValue>
        </value>
    </choices>
    <choices>
        <name>Twice_a_Week</name>
        <choiceText>Twice a Week</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Twice a Week</stringValue>
        </value>
    </choices>
    <choices>
        <name>Weekly</name>
        <choiceText>Weekly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Weekly</stringValue>
        </value>
    </choices>
    <label>Create Contract5</label>
    <recordCreates>
        <name>Create_Contract</name>
        <label>Create Contract</label>
        <locationX>390</locationX>
        <locationY>187</locationY>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>Anticipated_Renewal_Date__c</field>
            <value>
                <elementReference>Anticipated_Renewal_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Balance_Amt__c</field>
            <value>
                <elementReference>Current_Balance_Amt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Balance_Date__c</field>
            <value>
                <elementReference>Current_Balance_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Eligibility_Days_from_funding__c</field>
            <value>
                <elementReference>Renewal_Eligibility_Days_from_funding</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <elementReference>Contract_Signed_Pending_Funding</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordCreates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>619</locationX>
        <locationY>189</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ACH_Pmt_amount__c</field>
            <value>
                <elementReference>ACH_Pmt_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Percentage__c</field>
            <value>
                <elementReference>Commission_Percentage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Contract_Signed__c</field>
            <value>
                <elementReference>Date_Contract_Signed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funding_Amount__c</field>
            <value>
                <elementReference>Funding_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Holdback_Percentage__c</field>
            <value>
                <elementReference>Holdback_Percentage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payback_Amount__c</field>
            <value>
                <elementReference>Payback_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Schedule__c</field>
            <value>
                <elementReference>Schedule</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term_Months__c</field>
            <value>
                <elementReference>Term_Months</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Contract_details</name>
        <label>Contract details</label>
        <locationX>389</locationX>
        <locationY>47</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Create_Contract</targetReference>
        </connector>
        <fields>
            <name>Renewal_Eligibility_Days_from_funding</name>
            <dataType>Number</dataType>
            <fieldText>Renewal Eligibility (Days from funding)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Renewal_eligibility_of_Balance_Paid</name>
            <dataType>Number</dataType>
            <fieldText>Renewal eligibility (% of Balance Paid)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Anticipated_Renewal_Date</name>
            <dataType>Date</dataType>
            <fieldText>Anticipated Renewal Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Current_Balance_Amt</name>
            <dataType>Currency</dataType>
            <fieldText>Current Balance Amt</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Current_Balance_Date</name>
            <dataType>Date</dataType>
            <fieldText>Current Balance Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Opportunity_Details</name>
        <label>Opportunity Details</label>
        <locationX>166</locationX>
        <locationY>46</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Contract_details</targetReference>
        </connector>
        <fields>
            <name>Funding_Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Funding Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Payback_Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Payback Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Term_Months</name>
            <dataType>Number</dataType>
            <fieldText>Term (Months)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Holdback_Percentage</name>
            <dataType>Number</dataType>
            <fieldText>Holdback %</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>ACH_Pmt_Amount</name>
            <dataType>Currency</dataType>
            <fieldText>ACH Pmt Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Schedule</name>
            <choiceReferences>Daily</choiceReferences>
            <choiceReferences>Weekly</choiceReferences>
            <choiceReferences>Twice_a_Week</choiceReferences>
            <choiceReferences>Monthly</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Schedule</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Date_Contract_Signed</name>
            <dataType>Date</dataType>
            <fieldText>Date Contract Signed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Commission_Percentage</name>
            <dataType>Number</dataType>
            <fieldText>Commission %</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>OpportunityId</name>
            <fieldText>{!OppId}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AccountIDValue1</name>
            <fieldText>{!AccountId}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Opportunity_Details</startElementReference>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OppId</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
