CMBSandbox4/src/flows/Cross_Sell_Product_Promos-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Product_Assignment</name>
        <label>Product Assignment</label>
        <locationX>0</locationX>
        <locationY>269</locationY>
        <assignmentItems>
            <assignToReference>varOpportunityName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Promotion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createOpportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Shipping_Assigment</name>
        <label>Shipping Assigment</label>
        <locationX>137</locationX>
        <locationY>268</locationY>
        <assignmentItems>
            <assignToReference>varOpportunityName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Shipping_Promotion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createOpportunity</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Not_Interested</name>
        <choiceText>Not Interested</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Interested</stringValue>
        </value>
    </choices>
    <choices>
        <name>Product_Promotion</name>
        <choiceText>Product Promotion</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Product Promotion</stringValue>
        </value>
    </choices>
    <choices>
        <name>Shipping_Promotion</name>
        <choiceText>Shipping Promotion</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shipping Promotion</stringValue>
        </value>
    </choices>
    <constants>
        <name>conOpportunityAmount</name>
        <dataType>Currency</dataType>
        <value>
            <numberValue>100.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>conOpportunityStage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Prospecting</stringValue>
        </value>
    </constants>
    <decisions>
        <name>isInterested</name>
        <label>isInterested</label>
        <locationX>59</locationX>
        <locationY>142</locationY>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Offer_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Product_Promotion</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Assignment</targetReference>
            </connector>
            <label>Product</label>
        </rules>
        <rules>
            <name>Shipping</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Offer_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Shipping_Promotion</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Shipping_Assigment</targetReference>
            </connector>
            <label>Shipping</label>
        </rules>
    </decisions>
    <label>Cross-Sell Product Promos</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>createOpportunity</name>
        <label>createOpportunity</label>
        <locationX>54</locationX>
        <locationY>400</locationY>
        <connector>
            <targetReference>WrapUp</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Fault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>conOpportunityAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varOpportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>conOpportunityStage</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <screens>
        <name>Display_Fault</name>
        <label>Display Fault</label>
        <locationX>217</locationX>
        <locationY>474</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
    </screens>
    <screens>
        <name>Promotion</name>
        <label>Promotion</label>
        <locationX>58</locationX>
        <locationY>28</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>isInterested</targetReference>
        </connector>
        <fields>
            <name>Offer</name>
            <fieldText>Are you interested in one of these offers?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Offer_type</name>
            <choiceReferences>Product_Promotion</choiceReferences>
            <choiceReferences>Shipping_Promotion</choiceReferences>
            <choiceReferences>Not_Interested</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Not_Interested</defaultSelectedChoiceReference>
            <fieldText>Offer type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>WrapUp</name>
        <label>WrapUp</label>
        <locationX>315</locationX>
        <locationY>396</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
    </screens>
    <startElementReference>Promotion</startElementReference>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOpportunityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
