CMBSandbox4/src/flows/Troubleshoot_Customer_Issues-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <label>Troubleshoot Customer Issues</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>createCase</name>
        <label>createCase</label>
        <locationX>23</locationX>
        <locationY>352</locationY>
        <connector>
            <targetReference>Wrap_up_issue</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Falut_Display</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>What_is_the_customer_issue</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>getContactIDs</name>
        <label>getContactIDs</label>
        <locationX>41</locationX>
        <locationY>140</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Issue_Description</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Falut_Display</targetReference>
        </faultConnector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Customer_Email</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varAccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Customer_Info</name>
        <label>Customer Info</label>
        <locationX>42</locationX>
        <locationY>25</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getContactIDs</targetReference>
        </connector>
        <fields>
            <name>Customer_Email</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varEmail</elementReference>
            </defaultValue>
            <fieldText>Customer Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Falut_Display</name>
        <label>Falut Display</label>
        <locationX>316</locationX>
        <locationY>249</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayFualtMessage</name>
            <fieldText>{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Issue_Description</name>
        <label>Issue Description</label>
        <locationX>40</locationX>
        <locationY>249</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>createCase</targetReference>
        </connector>
        <fields>
            <name>What_is_the_customer_issue</name>
            <fieldText>What is the customer issue?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Wrap_up_Call</name>
        <label>Wrap up Call</label>
        <locationX>416</locationX>
        <locationY>442</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
    </screens>
    <screens>
        <name>Wrap_up_issue</name>
        <label>Wrap up issue</label>
        <locationX>26</locationX>
        <locationY>440</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Cross_Sell</targetReference>
        </connector>
        <fields>
            <name>Wrapupissuedisplaytext</name>
            <fieldText>A case has been created for you.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Customer_Info</startElementReference>
    <subflows>
        <name>Cross_Sell</name>
        <label>Cross Sell</label>
        <locationX>212</locationX>
        <locationY>441</locationY>
        <connector>
            <targetReference>Wrap_up_Call</targetReference>
        </connector>
        <flowName>Cross_Sell_Product_Promos</flowName>
        <inputAssignments>
            <name>varAccountId</name>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
